body {
  /* background-color: olive; */
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 2em;
  color: white;
}

canvas {
  
  outline-color: white;
}

#airhockey {
  background-color: #F1F1F1;
}

#drawing {
  background-color: #F1F1F1;
}
