body {
  background: radial-gradient(ellipse, #1b2735 0%, #090a0f 100%);
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
}

h1 {
  font-size: 32px;
  font-family: Raleway;
}

.profile {
  text-align:center;
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#content {
  margin-left: 42px;
}

#picture {
  border-radius: 25px;
}
